/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap');

/* Variables */
:root {
    /* Colors */
    --mainColor: #f14a60;
    --seccondColor: #fb7381;
    --black: #000;
    --white: #fff;

    /* Font Sizes */
    --headerSize: 100px;
    --subHeaderSize: 35px;
    --headerParagraphSize: 14px;
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Header */
.header {
    width: 80%;
    margin: auto;
}

/* Navbar */
.navbar {
    margin: 30px auto;
    display: flex;
    align-items: center;
}
.navbar ul {
    flex: 1;
    text-align: right;
}
.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}
.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: var(--black);
    padding: 0 10px;
}
.navbar ul li a::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 5px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    background-color: var(--mainColor);
    transition: 0.5s;
}
.navbar ul li a:hover::after {
    width: 100%;
}
.navbar-icons img {
    height: 25px;
    margin-left: 30px;
    cursor: pointer;
}

/* Banner */
.banner {
    display: flex;
    margin-top: 80px;
}
.left-column,
.right-column {
    flex-basis: 50%;
}

/* Left Column */
.left-column h1 {
    font-size: var(--headerSize);
}
.left-column h3 {
    font-size: var(--subHeaderSize);
}
.left-column span {
    color: var(--mainColor);
}
.left-column p {
    font-size: var(--headerParagraphSize);
    color: #999;
    margin: 50px 0;
}
.btn {
    margin-bottom: 50px;
}
.btn button {
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid var(--seccondColor);
    border-radius: 20px;
    cursor: pointer;
    color: var(--seccondColor);
    background-color: transparent;
}
.btn .primary-btn {
    background: linear-gradient(var(--seccondColor), var(--mainColor));
    box-shadow: 0 2px 15px rgba(248, 38, 103, 0.26);
    color: var(--white);
}
.social-icons {
    position: relative;
    width: 200px;
    margin-left: 20px;
    text-align: center;
    opacity: 0.4;
}
.social-icons img {
    height: 20px;
    margin: 0 14px;
}
.social-icons::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: -100%;
    left: 0;
    background: var(--black);
}

/* Right Column */
.right-column {
    display: flex;
    align-items: center;
}
.right-column img {
    width: 100%;
}
.search-box {
    width: 45%;
    display: flex;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    margin: 10px 0 30px;
}
.search-box img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.search-box input {
    width: 100%;
    margin-left: 15px;
    font-size: 17px;
    border: 0;
    outline: none;
}
